# Scope 2 calculations

In [2]:
import pandas as pd
import numpy as np

## Electricity consumption
Manually enter the electricity and distict heating in kwh for each of the different locations (offices, factories, appartments, server park etc)

In [3]:
# input data: 
# offices Tordenskiolds gate, Oslo
consumption_office_oslo = 104717
# apartment Fronger, Oslo
consumption_apt_oslo = 2349.0
# Server park SÃ¸ndre gate Trondheim
consumption_srvr_park = 155179
# apartment Alicante, Spain
consumption_apt_spain = 538

# offices Kongens gate 2 gate, Trondheim
consumption_office_trd = 571244

## Location based method 
The location-based method for calculating GHG emissions emphasizes the emissions resulting from local electricity production. The method is based on statistical emissions information and averaged emissions within a defined geographic boundary. For most purposes, the geographic boundary is defined as the "Nordic Mix", covering Norway,Sweden,Finland and Denmark. 

__Emission factor, Nordic mix:__ 39g CO2e / kWh - Source: NVE

__Emission factor, Spain:__ 270g CO2e / kWh - Source: Local electricity distributor

In [7]:
df_electricity = pd.DataFrame(index=["Office: Oslo", "Office: Trondheim", "Apartment: Spain", "Apartment: Oslo","Server park"])
df_electricity['Consumption [kWh]'] = [consumption_office_oslo,
                                 consumption_office_trd,
                                 consumption_apt_spain,
                                 consumption_apt_oslo,
                                 consumption_srvr_park]
# hard code emission rate:
df_electricity['Emission_rate [kg CO2e / kWh]'] = [0.039, 0.039, 0.270, 0.039, 0.039]
df_electricity['Calculated emission [kg CO2e]'] = df_electricity['Consumption [kWh]'] * df_electricity['Emission_rate [kg CO2e / kWh]']

df_electricity.loc['Total'] = df_electricity.sum()
df_electricity['Emission_rate [kg CO2e / kWh]']['Total'] = ''

df_electricity

,Consumption [kWh],Emission_rate [kg CO2e / kWh],Calculated emission [kg CO2e]
Office: Oslo,104717.0,0.039,4083.963
Office: Trondheim,571244.0,0.039,22278.516
Apartment: Spain,538.0,0.27,145.260
Apartment: Oslo,2349.0,0.039,91.611
Server park,155179.0,0.039,6051.981
Total,834027.0,,32651.331

In [8]:
print('Total CO2 emission by location-based method = {:2.0f} kg CO2e'.format(df_electricity['Calculated emission [kg CO2e]']['Total']))

Total CO2 emission by location-based method = 32651 kg CO2e

## Market-based method
The market-based method reflects emissions from electricity that companies have purposefully chosen (or their lack of choice). Under the market-based method of scope 2 accounting, BN Bank will report the GHG emission factor associated with the qualifying contractual instrument it owns. This method for calculating the GHG emissions does not necessarily represent the emission caused by BN Bank's consumption of electricty at the premises in Oslo or Trondheim. However, by taking into account the purchases of Guarantees of Origin, this method will reflect the collective consumer demand for particular energy types. 

The electricity in Oslo is origin-guaranteed, and hence the emission factor is zero.
For non-guaranteed electricity origin, the emission factor for Norway using the marked based approach is _[0.396 kg CO2e /kWh](https://www.nve.no/energiforsyning/opprinnelsesgarantier/varedeklarasjon-for-stromleverandorer/?ref=mainmenu)_

In [9]:
df_marketbased_electricity = df_electricity[['Consumption [kWh]']][:6]
df_marketbased_electricity['Emission rate [kg CO2e / kWh]'] = [0, 0.396, 0.27, 0, 0.396, 0.396]
df_marketbased_electricity['Calculated emission [kg CO2e]'] = df_marketbased_electricity['Consumption [kWh]'] * df_marketbased_electricity['Emission rate [kg CO2e / kWh]']

df_marketbased_electricity.loc['Total'] = df_marketbased_electricity.sum()
df_marketbased_electricity['Emission rate [kg CO2e / kWh]']['Total'] = ''

df_marketbased_electricity

,Consumption [kWh],Emission rate [kg CO2e / kWh],Calculated emission [kg CO2e]
Office: Oslo,104717.0,0,0.000
Office: Trondheim,571244.0,0.396,226212.624
Apartment: Spain,538.0,0.27,145.260
Apartment: Oslo,2349.0,0,0.000
Server park,155179.0,0.396,61450.884
Total,1668054.0,,618083.460

In [10]:
print('Total CO2 emission by the market-based method = {:2.0f} kg CO2e'.format(df_marketbased_electricity['Calculated emission [kg CO2e]']['Total']))

Total CO2 emission by the market-based method = 618083 kg CO2e

## District heating
Adding the district heating data into its own DataFrame.
Emissions in CO2-equivalents from the Tiller district heating plant. Januay 2021: [51,8 g/kWh](https://www.statkraftvarme.no/om-statkraftvarme/vare-anlegg/norge/trondheim/)

In [11]:
# input consumption of district heating

# offices Kongens gate 2 gate, Trondheim, district heating
consumption_distHeat_trd = 83928.0

In [12]:
emission_dist_heat= 51.8/1000

df_distHeat = pd.DataFrame(index=["Office: Trondheim"], columns=['Consumption [kWh]', 'Emission_rate [kg CO2e / kWh]', 'Calculated emission [kg CO2e]'])
df_distHeat.loc['Office: Trondheim'] = [consumption_distHeat_trd, emission_dist_heat, consumption_distHeat_trd * emission_dist_heat]

df_distHeat

,Consumption [kWh],Emission_rate [kg CO2e / kWh],Calculated emission [kg CO2e]
Office: Trondheim,83928,0.0518,4347.47