## Amount of waste produced by treatment

The data on the amount of waste and its treatment can be found in invoices from the local waste handling company.

In [2]:
import pandas as pd

In [27]:
# Enter amount of waste [kg] from different locations the lists. Eg. recycled paper waste in Trondheim = 710 kg
# If the amount is unknown, leave the spot in the list empty.

paper_recycled = 870
paper_safty_return = 612
ee_waste = 80

# waste registered at bulding level - BN Bank pays for 36.79 percent of the total costs (this will increase in 2021)
factor = 0.3679
waste_mixed_incinerated = 9240  # avfall til forbrenning
metals = 90
glas = 1400
plastic_wrap = 125
food = 310
wood = 590
paper_cardboard = 2840
hazardious_waste = 125

In [33]:
# Emission factors
emission_factor_waste = 0.504032  #kg co2-ekv, source: Sparebank 1 SMN - yearly report 2019

In [38]:
emission_waste =  emission_factor_waste*waste_mixed_incinerated*factor 
emission_waste_tonne = round(emission_waste/1000, 2)

In [41]:
df_verdict_waste = pd.DataFrame(index = ["Kontorpapir til gjenvinning", "Papir til makulering, til gjenvinning",'EE-avfall, gjenvinnes', 'Restavfall til forbrenning', 
                                         'Metaller, til gjenvinning', 'Glass, til gjennvinning', 
                                         'Plastikk folie til gjenvinning', 'Matavfall til gjenvinning', 'Trevirke til gjenvinning', 'Papp og papir til gjenvinning',
                                         'Farlig avfall til gjenvinning'], columns=["Avfall [kg]", "Utslipp, CO2 [tonn]"], dtype=int)
df_verdict_waste["Avfall [kg]"] = [int(paper_recycled), int(paper_safty_return),int(ee_waste), int(waste_mixed_incinerated)*factor , int(metals)*factor, int(glas)*factor, 
                                  int(plastic_wrap)*factor, int(food)*factor, int(wood)*factor, int(paper_cardboard)*factor, int(hazardious_waste)*factor]
df_verdict_waste["Utslipp, CO2 [tonn]"] = [np.nan, np.nan, np.nan, emission_waste_tonne, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan ]

In [42]:
print("Waste, Trondheim")
print("df_verdict_waste:")
display(df_verdict_waste)

Waste, Trondheim
df_verdict_waste:

                                       Avfall [kg]  Utslipp, CO2 [tonn]
Kontorpapir til gjenvinning               870.0000                  NaN
Papir til makulering, til gjenvinning     612.0000                  NaN
EE-avfall, gjenvinnes                      80.0000                  NaN
Restavfall til forbrenning               3399.3960                 1.71
Metaller, til gjenvinning                  33.1110                  NaN
Glass, til gjennvinning                   515.0600                  NaN
Plastikk folie til gjenvinning             45.9875                  NaN
Matavfall til gjenvinning                 114.0490                  NaN
Trevirke til gjenvinning                  217.0610                  NaN
Papp og papir til gjenvinning            1044.8360                  NaN
Farlig avfall til gjenvinning              45.9875                  NaN